<!DOCTYPE html>
<html>
<head>
	<title><%= user.login %></title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
	<style>
    .container{
	min-height: fit-content;
    height: 55vh;
	margin: 7% 14%;
	width: 60%;
	min-width: fit-content;
    padding: 5%;
    border: 0px solid black;
    border-radius: 10px;
	box-shadow: 0px 0px 17px -1px black;
	font-size:20px;
	font-weight:600;
	font-size: 1.5vw;
	}

	.detail{
		float: left;
		width: 60%;
	}

	img{
		width: 87%;
		border-radius: 5px;
		box-shadow: 0px 0px 5px 1px black;
	}

	.photo{
		float:right;
		width: 40%;
		padding-left: 10%;
	}

	#info a{
		color: black;
	}

	#home a{
		color:white;
	}
</style>

</head>
<body>